<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="registerForm">

      <mat-card-content>

        <mat-form-field class="example-full-width">
          <input matInput
                 placeholder="Email"
                 formControlName='email'
          >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput
                 placeholder="Password"
                 formControlName='password'
                 type="password"
          >
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button
              color="accent"
              class="btn-block"
              (click)="onSubmit()"
      >Register</button>

    </form>
  </mat-card>
</div>
