<mat-card>
  <form [formGroup]="addFacilityForm" class="example-form">

    <mat-card-content>
      <div class="form-part">
        <h2 class="example-h2">Fill base information about facility</h2>

        <section class="example-section">
          <mat-form-field class="form-field">
            <mat-label>Facility Name</mat-label>
            <input formControlName="name"
                     matInput
                     placeholder="Facility Name" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Select City</mat-label>
            <mat-select formControlName="city" required>
              <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
            </mat-select>
          </mat-form-field>
        </section>

        <section class="example-section">
          <mat-form-field class="form-field">
            <mat-label>Street</mat-label>
            <input formControlName="street"
                   matInput
                   placeholder="Street" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Postal Code</mat-label>
            <input formControlName="postalCode"
                   matInput
                   placeholder="Postal Code" required>
          </mat-form-field>
        </section>

        <section class="example-section">
          <div class="form-field">
            <label class="choose-label" for="input-file-id">Choose Image</label>
            <input class="ng-hide" formControlName="imageUrl" id="input-file-id" type="file"/>
          </div>

          <mat-form-field class="form-field">
            <mat-label>Facility Type</mat-label>
            <mat-select formControlName="facilitySportType"
                        multiple
                        required>
              <mat-option *ngFor="let sportType of facilitySportTypes" [value]="sportType">{{sportType}}</mat-option>
            </mat-select>
          </mat-form-field>
        </section>

        <section class="example-section">
          <mat-form-field class="form-field">
            <mat-label>Leave a comment</mat-label>
            <textarea formControlName="comment"
                      matInput
                      placeholder="Leave a comment"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="1"></textarea>
          </mat-form-field>
        </section>
      </div>

      <div class="form-part">
        <h2 class="example-h2">Availability:</h2>
        <div *ngFor="let day of daysList">
          <section [formGroupName]="day" class="example-section">
            <div class="day-name example-margin">
              <p>{{day}}</p>
              <mat-checkbox formControlName="isAvailable"></mat-checkbox>
            </div>
            <div *ngIf="addFacilityForm.get(day + '.isAvailable').value">
              <mat-form-field class="form-field">
                <mat-label>Start</mat-label>
                <mat-select [required]="addFacilityForm.get(day + '.isAvailable').value"
                            formControlName="start"
                            placeholder="Select Hour"
                >
                  <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="form-field">
                <mat-label>End</mat-label>
                <mat-select [required]="addFacilityForm.get(day + '.isAvailable').value"
                            formControlName="end"
                            placeholder="Select Hour"
                >
                  <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </section>
        </div>
      </div>

      <mat-card-actions class="center">
        <button (click)="onCancel()" mat-button>Cancel</button>
        <button (click)="onSubmit()"
                [disabled]="addFacilityForm.invalid"
                color="primary"
                mat-stroked-button
                type="submit"
        >Submit
        </button>
      </mat-card-actions>
    </mat-card-content>
  </form>

</mat-card>





