<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="loginForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput
                 placeholder="Email"
                 formControlName='email'
          >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput
                 placeholder="Password"
                 formControlName='password'
          >
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button
              color="accent"
              class="btn-block"
              (click)="onSubmit()"
      >Log in</button>
    </form>
  </mat-card>

</div>
