<mat-card>
  <mat-card-title>Fill base information about your institution</mat-card-title>
  <mat-card-content>
    <form [formGroup]="firstLoginForm" class="example-form">
      <h2> General </h2>
      <section class="example-section">
        <mat-form-field class="form-field">
          <mat-label>Full Institution Name</mat-label>
          <input formControlName="city" matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Institution Page Url</mat-label>
          <input formControlName="street" matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Institution Phone Number</mat-label>
          <input formControlName="street" matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
      </section>

      <h2> Main Address </h2>
      <section class="example-section">
        <mat-form-field class="form-field">
          <mat-label>City</mat-label>
          <input formControlName="city" matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Street Address</mat-label>
          <input formControlName="street" matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Postal Code</mat-label>
          <input formControlName="street" matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
      </section>

      <h2> Contact Person </h2>
      <section class="example-section">
        <mat-form-field class="form-field">
          <mat-label>First Name</mat-label>
          <input formControlName="city" matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Last Name</mat-label>
          <input formControlName="street" matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Contact Person Phone Number</mat-label>
          <input formControlName="street" matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
      </section>
    </form>

  </mat-card-content>
  <mat-card-footer>
    <div class="button-row">
      <button mat-raised-button color="primary">Submit</button>
    </div>
  </mat-card-footer>
</mat-card>
