.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.form-field {
  padding: 10px;
  min-width: 350px;
  max-width: 400px;
}

.day-name {
  min-width: 150px;
  display: flex;
  p {
    margin: 0px;
    width: 100px;
  }
}

.button-row {
  text-align: center;
  padding: 20px;
}

.center {
  text-align: center;
}
