<!-- Toolbar -->
<mat-toolbar class="app-header" color="primary">
  <div><a class="positronx" href="https://www.positronx.io" target="_blank">Management System</a></div>

  <span *ngIf="isUserLoggedIn else notAuthorized" class="nav-tool-items">
    <a (click)="logout()"
       mat-button
       mat-raised-button
       routerLink="login"
       routerLinkActive="active">Logout</a>
  </span>

  <ng-template #notAuthorized>
      <span class="nav-tool-items">
    <a mat-button
       routerLink="login"
       routerLinkActive="active">Log in</a>
    <a mat-button
       mat-raised-button
       routerLink="register"
       routerLinkActive="active">Register</a>
  </span>
  </ng-template>

</mat-toolbar>

<div class="app-wrapper">
  <router-outlet></router-outlet>
</div>
