.facility-list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-item-section {
  width: 25%;

  h1,h2 {
    margin: 0;
  }
}

.list-item-section.list-button {
  text-align: right;
}

.mat-list-base .mat-list-item {
  height: 80px;
}

.example-list-item {
  h2 {
    color: rgba(129,129,129,0.45);
  }
}
