<mat-card>
  <mat-card-title>
    List of my Facilities
  </mat-card-title>

  <mat-card-content>
    <mat-list class="facility-list">
      <mat-list-item class="list-item example-list-item">
        <div class="list-item-section">
          <h2>Facility Name</h2>
        </div>

        <div class="list-item-section">
          <h2>Address</h2>
        </div>

        <div class="list-item-section">
          <h2>Sport Types</h2>
        </div>

        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item class="list-item" *ngFor="let facility of facilities$ | async">
        <div class="list-item-section">
          <h1>{{facility.name}}</h1>
        </div>

        <div class="list-item-section">
          <h2>{{facility.street}}, {{facility.postalCode}} {{facility.city}} </h2>
        </div>

        <div class="list-item-section">
          <h2>{{facility.facilitySportType}}</h2>
        </div>

        <div class="list-item-section list-button">
          <button (click)="onDelete(facility)"
                  color="warn"
                  mat-stroked-button
          >Delete
          </button>
        </div>
        <mat-divider></mat-divider>

      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="center">
    <button (click)="addNew()"
            color="primary"
            mat-stroked-button
    >Add New Facility
    </button>
  </mat-card-actions>

</mat-card>
